body {
    position: relative;
}

.ing th {
    text-align:right;
}

.footer-bottom {
    min-height: 650px;
}
/*Шапка сайта*/
.bg-dark {
    background-color: #272727 !important;
}

.shapka li {
    font-size: 20px;
    font-weight: 400;
}

.shapka button {
    width: 90px;
    font-weight: bold;
    border-radius: 20px;
}

.text_log {
    font-size: 17px;
    font-weight: 500;
    color: #747474;
    margin-left: 15px;
}

.navbar {
    margin-bottom: 10px;
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: rgb(255, 105, 0);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 105, 0);
}

.btn-outline-info {
    color: rgba(255, 255, 255, 0.7);
    border-color: #a8a7a8;
}

.btn-outline-info:hover {
    color: rgb(255, 105, 0);
    background-color: transparent;
    border-color: rgb(255, 105, 0);
}

.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {
    color: rgb(255, 105, 0);
    background-color: transparent;
    border-color: rgb(255, 105, 0);
}
/*Шапка сайта*/

/*Корзина*/
.basket {
    margin-bottom: 5px;
    text-align: right;
    position: sticky;
    top: 0;
    z-index: 1;
}

.basket button {
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
}

.basket button {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 105, 0);
    border-color: rgb(255, 105, 0);
}

.btn-primary:disabled {
    background-color: rgba(255, 105, 0, 0.7)!important;
    border-color: rgba(255, 105, 0, 0.7)!important;
}

.basket button:hover {
    color: rgba(255, 255, 255,.7);
    background-color: rgba(255, 105, 0, .7);
    border-color: rgba(255, 105, 0,.7);
}
/*Корзина*/

/*Подвал сайта*/
footer {
    margin-top: 20px;
}

.btn-floating {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: relative;
}
/*Подвал сайта*/

/*Карточки с пиццами*/
.card {
    width: 18rem;
    margin: 10px 25px;
}

.card:hover {
    border: 2px solid rgba(255,165,0,.500);
}

.card-title {
    text-align:center;
}

.card_child {
    display: inline-block;
    padding: 5px;
}

.card_price_b {
    color: #413a3a;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
}

.card_price_b button {
    width: 120px!important;
    padding: 5px 14px;
    border-radius: 50px!important;
    color: #413a3a;
    background-color: white;
    border-color: rgb(255, 105, 0);
    border-width: 2px;
    float: right;
}

.card_price_b button:hover {
    color: #413a3a;
    background-color: rgba(255, 90, 0, .4);
    border-color: rgb(255, 69, 0);
}

.card_price_b button:active {
    color: #413a3a;
    background-color: rgb(255, 90, 0);
    border-color: rgb(255, 69, 0);
}

.card-text {
    font-weight: 500;
    color: #898989;
    text-align: left;
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 67px;
    text-align: center;
}

.card button {
    width:100%;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: 500;
    z-index: 60;
}

.card button:hover {
    color: black;
}
/*Карточки с пиццами*/

/*Информация о пицце*/
.inform-img {
    position: relative;
    width: 100%;
}

.inform-img img {
    width: 80%;
    margin-left: 10%;
    margin-top: -105%;
    align-self: center;
}

@media (max-width: 390px) {
    .inform-img img {
        margin-top: -115%;
    }
    .information-pizza label {
        font-size: 10px;
    }
    .information-pizza button {
        font-size: 12px!important;
    }
}

.information-pizza h2 {
    margin-bottom: 1px;
    letter-spacing: 1px;
}

.information-pizza span {
    font-size: 14px;
    line-height: 16px;
    color: #898989;
    font-weight: 500;    
}

.information-pizza label {
    margin-top: 20px;
    max-width: 300px;
}

.inform-btn {
    color: rgb(255, 105, 0);
    border-color: #c3c3c3;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    border-width: 1px;
}

.inform-btn:hover {
    color: rgb(255, 105, 0);
}

.active {
    border-color: rgb(255, 105, 0);
    border-width: 3px;
}

.information-pizza h5 {
    margin-top: 20px;
}

.information-pizza p {
    font-weight: 400;
}

.information-pizza button {
    margin-top: 35%;
    color: white;
    background-color: rgb(255, 105, 0);
    border-color: rgb(255, 105, 0);
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    border-width: 1px;
    padding: 10px 25%;
}

.information-pizza button:hover {
    color: white;
    background-color: rgb(255, 70, 0);
    border-color: rgb(255, 105, 0);
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    border-width: 1px;
    padding: 10px 25%;
}

@media (max-width: 1200px) {
    .information-pizza button {
        margin-top: 0;
    }
}
/*Информация о пицце*/